.historia{
    display: grid;
    grid-template-areas: "img text";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    padding: 10% 0 10% 0;

    &__img{
        grid-area: "img";
        border: black 1px solid;
    }

    &__img--style{
        width: 100%;
        height: 100%;
    }

    &__texto{
        grid-area: "text";
        background-color: #1746d1;
        border: black 1px solid;
        border-left: none;
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__texto--style{
        padding: 2%;
        text-align: center;
        align-content: center;
    }
}

.membresias {
    text-align: center;
    padding: 10px;

    &__titulo {
        font-size: 3rem; 
        color: black;
    }

    &__titulo--style {
        text-decoration: none;
        list-style-type: none;
        color: black;
    }
}

.card {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 50px;
        


        &__style{
            padding: 50px;
            background-color: #1746d1;
            border-radius: 20px;
            border: 3px solid black;
            box-shadow: 5px 5px 5px black;
        }

        &__style:hover {
            background-color: gray;
        }

        &__titulo {
            font-size: 2rem;
            text-align: center;
        }

        &__texto {
            padding: 5px;
        }

        &__subtitulo {
            text-align: center;
            font-size: 1.5rem;
            padding-top: 5px;
        }
}


.video {
    padding: 10px;

    &__titulo {
        text-align: center;
        font-size: 3rem;
    }

    &__titulo--style {
        color: black;
        list-style-type: none;
        text-decoration: none;
    }
}

